<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [(opened)]="sidenavOpen" mode="over" class="sidenav" autoFocus="false">
    <mat-nav-list>
      <a mat-list-item (click)="navigateTo('')" [class.active-link]="currentPath === '/'">
        <mat-icon matListItemIcon>calendar_today</mat-icon>
        <span matListItemTitle>Wochenplan</span>
      </a>
      <a mat-list-item (click)="navigateTo('menus')" [class.active-link]="currentPath === '/menus'">
        <mat-icon matListItemIcon>restaurant_menu</mat-icon>
        <span matListItemTitle>Menus verwalten</span>
      </a>
      <a mat-list-item (click)="navigateTo('shopping')" [class.active-link]="currentPath === '/shopping'">
        <mat-icon matListItemIcon>shopping_cart</mat-icon>
        <span matListItemTitle>Einkaufsliste</span>
      </a>
      <a mat-list-item (click)="navigateTo('families')" [class.active-link]="currentPath === '/families'">
        <mat-icon matListItemIcon>groups</mat-icon>
        <span matListItemTitle>Meine Familien</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenavOpen = !sidenavOpen">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="application-title gradient-text" (click)="navigateTo('')" style="cursor: pointer;">WeekBite</span>
      @if (user && user.families.length > 0) {
        <button class="context-chip" [matMenuTriggerFor]="contextMenu">
          {{ activeContextName }}
          <mat-icon class="context-arrow">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #contextMenu="matMenu">
          <button mat-menu-item (click)="switchContext(null)">
            <mat-icon>person</mat-icon>
            <span>Privat</span>
          </button>
          <mat-divider></mat-divider>
          @for (family of user.families; track family.id) {
            <button mat-menu-item (click)="switchContext(family.id)">
              <mat-icon>groups</mat-icon>
              <span>{{ family.name }}</span>
            </button>
          }
        </mat-menu>
      }
      <span class="spacer"></span>
      @if (user) {
        <button class="avatar-btn" [matMenuTriggerFor]="userMenu">
          @if (user.picture) {
            <img [src]="user.picture" alt="avatar" class="avatar-img" referrerpolicy="no-referrer">
          } @else {
            {{ user.avatar_letter }}
          }
        </button>
        <mat-menu #userMenu="matMenu">
          <div class="user-menu-header">{{ user.email }}</div>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Abmelden</span>
          </button>
        </mat-menu>
      }
    </mat-toolbar>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
