.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
  background: #1e1e1e;
}

mat-toolbar {
  background: #1e1e1e;
  color: #e0e0e0;
  position: sticky;
  top: 0;
  z-index: 10;
}

.content {
  padding: 16px;
  max-width: 600px;
  margin: 0 auto;
}

.application-title {
  margin-left: 5px;
}
