# Python
venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Database
*.db

# Node
node_modules/

# Angular
.angular/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.env.local
/.claude/
